.overlay {
    max-width: 1600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, var(--overlay), var(--overlay)),
        url('../images/overlay/_sm-1x-background-min.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;



    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) 
        
               { background-image:linear-gradient(to right, var(--overlay), var(--overlay)), url('../images/overlay/_sm-2x-background-min.jpg');}

   



    @media screen and (min-width:481px) {
        height: 400px;
        background-image: linear-gradient(to right, var(--overlay), var(--overlay)),
                url('../images/overlay/_md-1x_background-min.jpg');
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx)
            {
                    background-image: linear-gradient(to right, var(--overlay), var(--overlay)), url('../images/overlay/_md-2x-background-min.jpg');
                }
    }
   
   
    @media screen and (min-width:769px) {
        height: 600px;
        background-image: linear-gradient(to right, var(--overlay), var(--overlay)),
                url('../images/overlay/_l_1x_background-min.jpg');
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx)
            {
                    background-image: linear-gradient(to right, var(--overlay), var(--overlay)), url('../images/overlay/_l-2x-background-min.jpg');
                }
    }
}

