:root {
    --primary-text-color: #212121;
    --section-text-color: #757575;
    --accent-color: #2196f3;
    --secondary-text-color: #ffffff;
    --secondary-background-color: #2f303a;
    --buttons-background-color: #f5f4fa;
    --footer-color: rgba(255, 255, 255, 0.6);
    --border-header: #ececec;
    --border-projects: #eeeeee;
    --overlay: rgba(47, 48, 58, 0.4);
    --background-benefits: #f5f4fa;
    --customers-color: #afb1b8;
    --customers-background: #f5f5f5;

    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}