.find__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: var(--secondary-text-color);
    margin-bottom: 20px;
    margin-top: 60px;

    text-align: center;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
    margin-top: 0;}
}
.find {
 @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 206px;
    height: 80px;

    //  position: absolute;
    //  right: 74px;
    //  top: 5px;
     
     

 }


 }
