//  @media (min-width: 768px)
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-background-color);
    @media (min-width: 1200px) {
    white-space: nowrap;}


    &__container {
        @media (min-width: 1200px) {
            display: flex;
                align-items: baseline;
   }
}
    &__div {
        @media (min-width: 1200px) {
        margin-right: 70px;}
    }
    

    &__address {
        margin-top: 20px;
        text-align: center;
        @media screen and (min-width: 768px) {
            text-align: left;
        // display: block;
        // margin-right: auto;
         width: 231px;}
    }
    &__logo{
        @media screen and (max-width:479px) {
            display: flex;
                justify-content: center;
        }
        
    }

    &__item:not(:last-child) {
        @media screen and (min-width: 1200px) {
            margin-bottom: 9px;
    }
}

    &__link {
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;
        text-decoration: none;
        transition: color var(--animation);
    }

    &__link:hover,
    &__link:focus {
        color: var(--accent-color);
    }

    &__link--address {
        color: var(--secondary-text-color);
    }

    &__link--contacts {
        color: var(--footer-color);
    }
}